<div class="">
  <pl-panel panel-title="This is the lazy-load component">
    <h2>Mode is {{ mode }}</h2>
    <pl-input [(value)]="mode"></pl-input>
    <pl-button mode="{{ mode }}">Button from lazyload component</pl-button>

    <br>

    <h2>Mode is {{ mode1 }}</h2>
    <pl-input [(value)]="mode1"></pl-input>
    <pl-button mode="{{ mode1 }}">Button from lazyload component</pl-button>

    <br>

    <h2>plSelect is {{ plSelect }}</h2>
    <pl-select [(value)]="plSelect">
      <option value="pepe">Pepe</option>
      <option value="pepa" selected>Pepa</option>
    </pl-select>

    <h2>plTextarea is {{ plTextarea }}</h2>
    <pl-textarea [(value)]="plTextarea"></pl-textarea>

    <pl-button mode="{{ plTextarea }}">Button from lazyload component</pl-button>

    <br>
  </pl-panel>
</div>
