<div class="">
  <pl-panel>

    <pl-button mode="{{ mode }}">Button from lazyload component</pl-button>
    <pl-checkbox></pl-checkbox>
    <h4>This is the lazy-load component</h4>
    <pl-button mode="{{ mode }}">Button from lazyload component</pl-button>
    <pl-circle mode="active"></pl-circle>
    <pl-circle mode="suspended"></pl-circle>
    <pl-circle mode="system"></pl-circle>
    <pl-input value="Pepepeeeeeeeeeeeeeee"></pl-input>
    <pl-input value="Pepepeeeeeeeeeeeeeee"></pl-input>
    <div class="">
      Pepe
    </div>

  </pl-panel>

  <pl-button mode="{{ mode }}">Button from lazyload component</pl-button>
  <pl-checkbox></pl-checkbox>
  <h4>This is the lazy-load component</h4>
  <pl-button mode="{{ mode }}">Button from lazyload component</pl-button>
  <pl-circle mode="active"></pl-circle>
  <pl-circle mode="suspended"></pl-circle>
  <pl-circle mode="system"></pl-circle>
  <pl-input value="Pepepeeeeeeeeeeeeeee"></pl-input>
  <pl-input value="Pepepeeeeeeeeeeeeeee"></pl-input>

</div>
