<h4>This is the home component</h4>
<img src="../../favicon.ico" alt="">
<pl-button mode="{{ mode }}">Button from home component</pl-button>

{{ mode }}
<div class="">
  <div class="">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <div class="">
                <pl-content>
                  <pl-content>
                    <pl-panel>
                      <pl-input [(value)]="mode"></pl-input>
                    </pl-panel>
                  </pl-content>
                </pl-content>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
